[submodule "hardware/external/jkiv-kicad-library"]
	path = hardware/external/jkiv-kicad-library
	url = https://github.com/jkiv/jkiv-kicad-library
[submodule "hardware/external/RPi-CM4-Kicad"]
	path = hardware/external/RPi-CM4-Kicad
	url = https://github.com/Kedarius/RPi-CM4-Kicad.git
